@import '../../styles/main.scss';

nav {
  height: $header-height;
  display: flex;
  align-items: center;

  h1 {

    &::after {
      content: '|';
      @include animation-blink;
    }

    span {
      font-size: 2rem;
      color: $color-error;
      overflow: hidden;
    }
  }
}
