.container {
  .current-song {
    display: flex;
    justify-content: center;

    iframe {
      $size: 4rem;
      height: 9*$size;
      width: 16*$size;
      margin: 2rem 0;
    }
  }

  .song {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    cursor: pointer;

    .info {
      margin-left: 1rem;

      &-line {
        margin: 1rem 0;

        h3 {
          margin: 0;
        }
      }
    }
  }
}
